#Web framework
fastapi

#ASGI server to run the app
uvicorn[standard]

#For data validation and settings management
pydantic

#For password hashing
passlib[bcrypt]

#For creating and verifying JWT tokens
python-jose[cryptography]
#EdgePredict - Backend API